<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head') %>
  </head>
  <body>
    <%- include('header') %>
    <div class="container" style="height:300px">
      <canvas id="temperature_chart"></canvas>
    </div>
  </body>
  <%- include('boostrap_script') %>
  <%- include('chart') %>
  <%- include('polling') %>

</html>
